<%- include('partials/navbar.ejs') %>   

<h1>Gerenciador de pedidos</h1>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 100px;"></th> 
      <th style="width: 100px;"></th> 
      <th scope="col">Número do pedido</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% pedidos.forEach((pedido, index) => { %>
      <tr>
        <th scope="col">
          <div class="container-fluid">
            <img src="/imgs/order.png" class="icon"  alt="">
          </div>
          </th>
        <td>
          <div class="container">
            <img src=<%= pedido.src%> class="img-fluid imgicon" alt="">
          </div>
        <td><%= pedido.numero %></td>
        <td><%= pedido.valor %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer.ejs') %>
