<%- include('partials/navbar.ejs') %>   


<% if (categoria === "maquiagem") { %>
  <table class="table table-hover">
    <h1>Maquiagens</h1>
    <hr>
    <thead>
      <tr>
        <th style="width: 200px;"></th> 
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      <% maquiagem.forEach((make) => { %>
        <tr>
          <td>
              <img src=<%= make.src%> class="img-fluid imgicon" alt="">
          </td>
          <td><%= make.nomeProduto %></td>
          <td><%= make.preco %></td>
          <td><%= make.categoria %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else if (categoria === "skincare"){ %>
    <h1>Skincare</h1>
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 200px;"></th> 
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>
      <tbody>
        <% skincare.forEach((skin) => { %>
          <tr>
            <td>
              <img src=<%= skin.src%> class="img-fluid imgicon" alt="">
          </td>
            <td><%= skin.nomeProduto %></td>
            <td><%= skin.preco %></td>
            <td><%= skin.categoria %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else if (categoria === "cabelo"){ %>
      <h1>Cabelos</h1>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 200px;"></th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
          </tr>
        </thead>
        <tbody>
          <% cabelo.forEach((hair) => { %>
            <tr>
              <td>
                <img src=<%= hair.src%> class="img-fluid imgicon" alt="">
            </td>
              <td><%= hair.nomeProduto %></td>
              <td><%= hair.preco %></td>
              <td><%= hair.categoria %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
<% } else { %>
  <table class="table table-hover">
    <h1>Produtos</h1>
    <hr>
    <thead>
      <tr>
        <th style="width: 200px;"></th> 
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      <% produtos.maquiagem.forEach((produto) => { %>
        <tr>
          <td>
            <img src=<%= produto.src%> class="img-fluid imgicon" alt="">
        </td>
          <td><%= produto.nomeProduto %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.categoria %></td>
        </tr>
      <% }) %>
      <% produtos.skincare.forEach((produto) => { %>
        <tr>
          <td>
            <img src=<%= produto.src%> class="img-fluid imgicon" alt="">
        </td>
          <td><%= produto.nomeProduto %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.categoria %></td>
        </tr>
      <% }) %>
      <% produtos.cabelo.forEach((produto) => { %>
        <tr>
          <td>
            <img src=<%= produto.src%> class="img-fluid imgicon" alt="">
        </td>
          <td><%= produto.nomeProduto %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.categoria %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<%- include('partials/footer.ejs') %>
